<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>
            Glitzy
        </title>
    {% endblock %}
    <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="glitz/bootstrap-styles.css"> -->
    <link rel="stylesheet" href="glitz/glitz.css">
    <script type="text/javascript" src="glitz/glitz.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Glitzy</a>
        </div>
          {%- if request.path != "/login" %}           
          <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
          {% endif %}
        </div>
    </nav>

    <!-- Modal dialog  -->
    <div class="modal fade" id="modalDialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Oops!</h4>
          </div>
          <div class="modal-body bg-danger">
            <p id="modalDangerMessage"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalProfileDialog" style="width: 100%; height: 100% border: solid 1px red;">
      <div class="container-fluid">
        <div class="row">
          <div style="height:150px;">&nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-xs-5">
          </div>
          <div class="col-xs-3">
              <div class="modal-dialog" style="width:auto;">
                <div class="modal-content">
                  <div class="text-center" data-spy="affix">
                    <div class="col-xs-12">
                        <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img id="userProfileModalDialogImage" src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/22405720_10154699510411829_1712623705371794204_n.jpg?oh=de704a6ea3758e2c7287e0271df2a60f&oe=5B4AB7AB" class="img-responsive" alt="">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name" id="userProfileModalDialogName">
                                    user_name 
                                </div>
                                <div class="profile-usertitle-job">
                                    Fashion Fan!
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                                <ul class="nav">
                                    <li class="active">
                                        <a href="#">
                                          <i class="glyphicon glyphicon-leaf"></i>
                                        My Glitz </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END MENU -->
                        </div>
                    </div>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->        
          </div>
          <div class="col-xs-4">
          </div>
        </div>
      </div>
      
    </div><!-- /.modal -->


    <!-- Body of Page -->
    {% block content %} 
        Class template content goes here.
    {% endblock %}

<!-- You need this in order to use JS-based components in the 
further study. Leave this at the bottom and code above it. -->

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>

</html>


