<!DOCTYPE html>
<html>
<head>
    <title>Glitzy</title>
</head>
<body>
<h1>Welcome to your Profile!</h1>


<p>Upload your Glitz here</p>

<form action="/upload_glitz" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="glitzToUpload" id="fileToUpload">
    <input type="submit" value="Upload Glitz" name="submit">
</form></br></br>


<table>
       {% for glitz_id, glitz_tuple in glitz_comments.iteritems() %}
        <tr>
            <td>
                <a href="/view_comments/{{ glitz_id }}">
                    {{ glitz_tuple[1] }}
                    <img src="{{ glitz_tuple[0] }}" style="width:500px;"> </br>
                </a>
                <table border=1>
                    {% for comment in glitz_tuple[2] %}
                    <tr>
                        <td>  
                            {{ comment }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        {% endfor %}
</table>

<footer> © Copyright Glitzy</footer>

</body>
</html>
</html>
