{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row border">
      <div class="col-xs-3">
        <p>
        <h1>Welcome {{ user_name }}!</h1>
        </p>
      </div>
      <div class="col-xs-6 border">
        

        <!-- <img id="blah" src="http://placehold.it/180" alt="your image" />
        <input type='file' onchange="readURL(this);" />
        

        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
            <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
        </div>
 -->
            
        <form action="/upload_glitz" id="formUploadGlitz" method="post" enctype="multipart/form-data">
            <div class="container-fluid">
                <div class="row" id="imagePreviewWindow" style="display: none;">
                    <div class="col-xs-4">
                        <div class="thumbnail">
                            <img id="imagePreviewControl" alt="" style="height: 180px; width: 100%; display: block;">   
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9">
                        <input type="text" class="form-control" placeholder="Message" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                    </div>
                    <div class="col-xs-1" align="left">
                      <button type="button" id="buttonImagePicker" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-camera"></span>
                      </button>
                    </div>
                    <div class="col-xs-1" align="left">
                      <button type="button" name="buttonSubmitGlitz" id="buttonSubmitGlitz" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-arrow-up"></span> Gllitz
                      </button>
                    </div>
                </div>
            </div>
            <input type="file" style="display: none;" onchange="showPicture(this);" name="glitzToUpload" id="fileToUpload"/>
                
        </form>

        
        


        <!-- {glitz_id:(glitz_path, user_id, name, posted_on, [comment1, comment2,......, comment'n])} -->
        <!-- [glitz_path, glitz_id, count, user_id, name, posted_on] -->
        <table align="center" class="border">
           {% for glitz in glitz_feeds %}
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <a href="/{{ glitz[3] }}">  
                                   <b> {{ glitz[4] }} </b>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <a href="/view_glitz/{{ glitz[1] }}">
                        <img src="{{ glitz[0] }}" class="glitz_image"> </br>
                        {{ glitz[2]}} comments
                    </a>
                    
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            {% endfor %}
        </table>


      </div>
      <div class="col-xs-3">
      </div>
    </div>
</div>

<script type="text/javascript">

    $("#buttonImagePicker").click(function() {
        $("#fileToUpload").click();
    });

    $("#buttonSubmitGlitz").click(function() {
        $("#formUploadGlitz").submit();
    });

    // https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename
    function showPicture(fileInputControl) {
        if (fileInputControl.files && fileInputControl.files[0]) {
            var reader = new FileReader();

            reader.onload = function (evt) {
                $('#imagePreviewControl').attr('src', evt.target.result);
                $('#imagePreviewWindow').show();
            };

            reader.readAsDataURL(fileInputControl.files[0]);
        }
    }

</script>

{% endblock %}