
<!DOCTYPE html>
<html>
<head>
    <title>View Comments</title>
</head>
<body>
    <h1>View your Comments!</h1>
<form action="/view_comments" method="POST" name="grid_area_form">    
    <select name='grids' onchange="alert('ff')">
        {% for grid in grids %}
          <option value="{{ grid.grid_id }}">{{ grid.grid_name }}</option>
        {% endfor %}
    </select>
</form>

<table>
   {% for comment in comments %}
    <tr>
        <td>
            {{ comment.comment_text }}         
        </td>
    </tr>
    {% endfor %}
</table>

  </br></br>

    <footer>© Copyright Glitzy</footer>



</body>
</html>
</html>
